.blog-form {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    background-color: gainsboro;
    font-size: 20px;
    margin-bottom: 30px;
}

.blog-form .form-container {
    width: 500px;
}

.blog-form .form-container h1 {
    text-align: center;
    margin-bottom: 40px;
}

.blog-form form .input-blog-image {
    width: 96%;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;

}

.blog-form form .input-blog-image label p {
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.blog-form form .input-blog-image label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.blog-form form textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
}

.blog-form form button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 17px;
    background: red;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
}

.blog-form .line {
    border: 1px solid gray;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.blog-form form .button {
    text-align: right;
}

.blog-form .form-container .container1 input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);

}

.blog-form form .choose {
    margin: 0;
    padding: 10px 20px;
    font-size: 15px;
    background: rgb(238, 236, 236);
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
    color: black;
}

.blog .blog-list {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blog .blog-list .blog-list-item {
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid gray;
    border-radius: 8px;
    display: flex;
}

.blog .blog-list .blog-list-item .blog-image {
    flex: 1;
}

.blog .blog-list .blog-list-item .blog-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.blog .blog-list .blog-list-item .blog-content {
    padding-left: 20px;
    flex: 2;
}

.blog .blog-list .btn-group {
    text-align: right;
    margin-bottom: 20px;
}

.blog .blog-list .btn-group .btn-edit{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: gray;
    color: white;
}

.blog .blog-list .btn-group .btn-delete{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: red;
    color: white;
}

.blog .blog-list h1 a {
    text-decoration: none;
    color: black;
}

.blog .blog-list .blog-content {
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
}

.blog .blog-list .blog-list-item p {
    margin-top: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}

.kolom .blog .blog-list {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}