@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif
}

form {
    width: 350px;
    margin: auto;
    padding: 10px;
}

label {
    font-weight: bold;
    font-size: 15px;
}

input, select, textarea {
    background-color: rgb(194, 190, 190);
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10;
    border-radius: 10px;
    border: 1px solid grey;
}

button {
    background-color: rgb(6, 12, 100);
    border-radius: 10px;
    color: white;
    padding: 15px;
    border: none;
    margin-top: 10PX;
    font-size: 15px;
    cursor: pointer;
}

button:hover{
    background-color: orange
}

nav ul li a {
    color: white;
}

nav {
    background-color: rgb(201, 194, 194) ;
    display: flex;
    align-items: center;    
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    margin-right: 25px;
    font-size: 20px;
}

nav ul li .active {
    color: black;
}

nav ul li img {
    width: 50px;
}

.nav-left{
    flex: 50%;
}

.nav-right {
    flex: 50%;
    text-align: end;
    margin-right: 25px;
    padding: 20px;
}

.nav-right a {
    background-color: red;
    border-radius: 10px;
    color: white;
    padding: 15px;
    border: none;
    margin-top: 10PX;
    font-size: 15px;
    cursor: pointer;

}

body {
    padding: 0;
    margin: 0;
}

#barsmenu {
    display: none;
}

.hamburger-nav-container {
    font-size: 23px;
    list-style-type: none;
    display: none;
}

.hamburger-nav-container a {
    text-decoration: none;
    color: white;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid white;
}

.hamburger-nav-container .hamburger-active {
    text-decoration: none;
    color: white;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid white;
}

@media only screen and (max-width: 900px) {
    .card-container {
        width: 100%;
    }
    .kiri {
        flex: 100%;
        display: flex;
        justify-content: center;
    }

    .kanan {
        margin-left: 0;
    }

    section {
        flex-direction: column;
        align-items: center;
    }

    #barsmenu {
        display: block;
      }

      .item-collapse {
        display: none;
      }
}

@media only screen and (max-width: 550px) {
    .skill {
      flex-direction: column;
    }
  
    .item-collapse {
      display: none;
    }
  
    #barsmenu {
      display: block;
    }
  }